{% extends 'base.html' %}

{% block title %}Automobilis{% endblock %}

{% block content %}
{% if car.photo %}
<img class="card-img-top mb-3" style="max-width: 50%" src="{{ car.photo.url }}">
{% endif %}
<h1>{{ car.make }} {{ car.model }}</h1>
<p>Valstybinis numeris: {{ car.license_plate }}</p>
<p>VIN kodas: {{ car.vin_code }}</p>
<p>Klientas: {{ car.client_name }}</p>
<p>{{ car.description | safe }}</p>
<hr>
<h3>Taisymai:</h3>
{% for order in car.orders.all %}
<p><a href="{% url 'order' order.pk %}">{{ order }}</a></p>
{% endfor %}
{% endblock %}