{% extends 'base.html' %}

{% block title %}Taisymas{% endblock %}

{% block content %}
<h1>{{ order.car }} taisymas</h1>
<p>Data: {{ order.date }}</p>
<p>
    Terminas:
    <span class="{% if order.is_overdue %}text-danger{% endif %}">
        {{ order.deadline }}
    </span>
</p>
<p>Būsena: {{ order.get_status_display }}</p>
<p>Klientas:
    {% if order.client.profile.photo %}
        <img src="{{ order.client.profile.photo.url }}" class="rounded-circle" style="width: 30px">
    {% endif %}
    {{ order.client }}
</p>
{% if order.client == user %}
<div class="my-2">
    <a class="btn btn-warning" href="{% url 'user_orders_update' order.pk %}">Redaguoti</a>
</div>
{% endif %}

<table class="table table-hover">
    <thead>
    <tr>
        <th>Paslauga</th>
        <th>Kaina</th>
        <th>Kiekis</th>
        <th>Suma</th>
    </tr>
    </thead>
    <tbody>
    {% for line in order.lines.all %}
    <tr>
        <td>{{ line.service.name }}</td>
        <td>{{ line.service.price }}</td>
        <td>{{ line.quantity }}</td>
        <td>{{ line.line_sum }}</td>
    </tr>
    {% endfor %}
    <tr>
        <th colspan="3">BENDRA SUMA</th>
        <th>{{ order.total }}</th>
    </tr>
    </tbody>
</table>
<h3>Komentarai:</h3>
{% if user.is_authenticated %}
<form method="post" class="mb-2">
    {% csrf_token %}
    {% load crispy_forms_tags %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Paskelbti</button>
</form>
{% endif %}
{% for comment in order.comments.all %}
<p>
    {% if comment.author.profile.photo %}
        <img src="{{ comment.author.profile.photo.url }}" class="rounded-circle" style="width: 30px">
    {% endif %}
    <strong>{{ comment.author }}</strong>, <em>{{ comment.date }}</em>
    <br>
    {{ comment.content }}
</p>
{% empty %}
<p>Komentarų nėra</p>
{% endfor %}
{% endblock %}